:root {
    --main-bg-color: #f5f8fa;
    --playground-bg-color: #FFF;
    --border-radius-color: #d5d5d5;
    --tools-input-color: #5f5656;
    --scrollbar-color: #c7c2c2;
    --button-add-hover: #EE1157;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    height: 100vh;
}

ul li {
    margin: 5px;
    list-style: none;
}
.tools {
    width: 350px;
    max-width: 350px;
    padding: 10px;
    height: 100vh;
    background-color: var(--main-bg-color);
    border-right: 1px solid var(--border-radius-color);
    font-size: larger;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
        overflow: auto;
}

.showHide {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    cursor: pointer;
}

.toolsInputContainer {
    margin-left: 20px;
    font-weight: 500;
    color: var(--tools-input-color);
}

.name_boxes {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(207, 221, 79, 0.5)
    );
    opacity: 0.7;
    border-radius: 25px;
    height: 100%;
    min-width: 200px;
    /* width: 200px; */
    box-shadow: 0px 5px 20px 0px rgba(207, 221, 79, 0.5);
    padding: 20px 10px 10px 10px;
    /*        t    r    b    l*/
    /* margin: 50px;*/
    transition: box-shadow 0.4s;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-top: 20px; */
}

.name_boxes div {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 5px solid white;
    background-color: rgba(232, 166, 80, 0.5);
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: monospace;
    border-radius: 25px;
    /* width: 5/0%; */
}

.name_boxes div.select {
    background: lightblue;
    border-color: blue;
}

.name_boxes div input {
    border: none;
    background: transparent;
    text-transform: uppercase;
}

.name_boxes div:hover {
    /* transition: background 0.5s; */
    background: linear-gradient(white, rgba(230, 184, 124, 0.5));
}

.name_boxes div:active {
    background-color: red;
}
.name_boxes:hover {
    box-shadow: 0px 5px 20px 0px rgba(207, 221, 79, 0.5),
        0px 5px 20px 100px rgba(207, 221, 79, 0.5),
        0px 5px 20px 0px rgba(207, 221, 79, 0.5),
        0px 5px 20px 0px rgba(207, 221, 79, 0.5),
        0px 5px 20px 0px rgba(207, 221, 79, 0.5),
        inset 5px 5px 20px 0px rgba(255, 255, 255, 0.7),
        inset 5px 5px 20px 0px rgba(255, 255, 255, 0.7),
        inset 5px 5px 20px 0px rgba(255, 255, 255, 0.7),
        inset 5px 5px 20px 0px rgba(255, 255, 255, 0.7),
        inset 5px 5px 20px 0px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.4s;
}

.name_boxes div {
    width: 100%;
}

.playground div {
    background-color: antiquewhite;
    position: absolute;
    /* transition: 0.1s ease-in-out; */
}

.playground div:hover {
    background-color: rgb(136, 166, 223);
    /* transition: 0.1s ease-in-out; */
}

.playground > .select,
.playground div.select:hover {
    background-color: cornflowerblue;
}
.add {
    /* background-color: greenyellow;
    width: 100%;
    height: 50px;
    border: none;
    color: blue;
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: larger;
    font-family: fantasy;
    letter-spacing: 5px; */
    padding: 10px 10px;
    background-color: black;
    width: 120px;
    height: auto;
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.add:hover{
    background-color: var(--button-add-hover);
}

input[type="number"]:focus {
    cursor: w-resize;
}

.playground-container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: var(--playground-bg-color);
}
.playground {
    background-color: var(--playground-bg-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.set {
    margin-top: 5px;
}

.zindex {
    margin-bottom: 5px;
}

.submit_design {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    z-index: 60;
    outline: none;
    border: 3px solid rgba(211, 179, 97, 0.8);
    color: chocolate;
    background-color: cornsilk;
    cursor: pointer;
    border-radius: 25px;
}

.border-container,
.color-container,
.size-container,
.position-container {
    padding: 10px 0;
    border-bottom: 1px solid;
}

input {
    border: 1px solid var(--border-radius-color);
    padding: 5px;
    border-radius: 5px;
}

span {
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color); 
    border-radius: 15px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ababab; 
  }

  .button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }